@charset "utf-8";

.navbar{
	width: 100%;
	height: 40px;
	background: rgb(244,0,130);
	z-index: 10;
}
.navbar nav{
	width: 75%;
	height: 100%;
	margin: 0 auto;
}
.navbar nav a{
	color: white;
	/*转化块元素*/
	display: block;
	float: left;
	width: 11%;
	height: 100%;
	text-align: center;
	line-height: 40px;
	/*去掉下划线*/
	text-decoration: none;
}
.navbar nav .currentpage{
	background: rgb(180,0,130);
}
.fixed{
	/*固定定位*/
	position: fixed;
	z-index: 15;
	top: 0px;
}
